<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Information</title>
        <link rel="stylesheet" href="/addproduct.css">
    </head>
    <body>
    
    <div class="container">
        <h1>Product Information</h1>
        <form>
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="productName" required>
    
            <label for="productDescription">Product Description:</label>
            <textarea id="productDescription" name="productDescription" required></textarea>
    
            <label for="productPrice">Price:</label>
            <input type="number" id="productPrice" name="productPrice" required>
    
            <label for="productImage">Image URL:</label>
            <input type="file" id="productImage" name="productImage" accept="Image" required>
    
            <button type="submit">Submit</button>
        </form>
    </div>
    
    </body>
    </html>
    
</body>
</html>