<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/adminpage.css">
</head>
<body>
<header>
    <h1>Welcome to My Admin page </h1>
</header>

<nav style="display: flex;justify-content: center;   height: 500px; align-items: center;">
    <ul style="display: flex; flex-wrap: wrap; ">
        <a href="../admin/addProduct"><li class="lists">add product</li></a>
        <a href="../admin//showproduct"><li class="lists">show Product</li></a>
        <a href="../admin/showusers"><li class="lists">Show User</li></a>
        <a class="lists" href="/logout">Logout</a>
    </ul>
</nav>

<section class="content">
    <p>This is theadmin  homepage .</p>
</section>

<footer>
    <p>&copy; admin</p>
</footer>

</body>
</html>